<h3>Register</h3>

<%= form_for :user, url: '/users' do |f| %>

  <% if @user.errors.any? %>
    <div class="errors">
      <!-- pluralize: if there is more than 1 error, it will pluralize "error"; elase it will just be 'error' -->
      <h3><%= pluralize(@user.errors.count, "error") %> prevented this post from saving.</h3>
      <ul>
        <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username%>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= p.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Sign up" %>
  </p>
<% end %>
